.press-start-2p-regular {
    font-family: "Press Start 2P";
    font-size: 30px;
}

.container-fullscreen {
    height: 100vh;

}

.tektur-uniquifier {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}